{% extends 'base.html' %}
{% block content %}


{% if error_message %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
    <p><strong>{{ error_message }} </strong></p>{% endif %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="container mt-5">

    <div class="bg-dark bg-opacity-50 col-lg-9 col-11 m-auto rounded">
        <h1 class="text-light text-center bold p-3"> Add your beer review</h1>
        <div class="text-light">
            <form method="POST">
                {% csrf_token %}
                Beer Style: {{ form.beer_style}} <input value="+"
                class="btn btn-secondary "><br /><br />
                Beer : {{ form.beer}}<br /><br />
                Write your review: {{ form.review}}<br /><br />

                Bitterness: {{ form.bitterness}} &nbsp;| &nbsp; Money Value : {{ form.money_value}}
                | &nbsp; Add your beer picture : {{form.beer_image}}

                <div class="text-center p-4">
                    <input type="submit" value="Save your review"
                        class="btn btn-secondary btn-success login-button btn-lg ">
                </div>
            </form>
        </div>
    </div>
</div>



<form method="post" action="">
    {% csrf_token %}
  
   <div class="modal-header">
      <h5 class="modal-title">Create new Beer Style</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
        <div class="form-group{% if field.errors %} invalid{% endif %}">
          <label for="{{ field.id_for_label }}">{{ field.beer_style }}</label>
          {{ field }}
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
  
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  
  </form>


{% endblock content %}