{% extends "base.html" %}
{% load static %}


{% block content %}



<section class="pt-5 pb-5 shadow-sm m-auto ">

    <div class="container text-light text-center ">
        <h3> Beer reviews </h3>
        <div class="row pt-5 ">
            <div class="col-12">

            </div>
        </div>

        <div class="row  ">
            {% for review in object_list %}


            <div class="col-lg-4 mb-3 d-flex ">
                <div class="card text-light bg-dark bg-opacity-75 rounded">
                    <a href="{% url 'review_detail' review.pk %}"
                        class="text-decoration-none text-uppercase fw-bold text-white">

                        <h4 class="m-3 text-center "> {{ review.beer }} </h3>
                            <h5>{{ review.beer_style}}</h5>

                    </a>


                    {% if review.beer_image %}


                    <img src="{{ review.beer_image.url }}" class="card-img-top rounded-2 img-container">
                    {% else %}
                    <img src="{{ MEDIA_URL }}vintage-retro-beer-illustration_5586-351.webp" alt="default error image">
                    {% endif %}
                    <div class="card-body d-flex flex-column text-center">
                        <p class="text-truncate "> {{ review.review }} </p>
                    </div>
                    {% if user.is_authenticated %}
                    {% if user.id == review.user_name.id %}

                    <span class="m-auto">
                        <h4>
                            <a href="{% url 'update_review' review.pk %}" class="text-decoration-none text-white"><i
                                    class="fas fa-edit px-2"></i>
                            </a>
                            <a href="{% url 'review_delete' review.pk %}" class="text-decoration-none text-white">
                                <i class="fas fa-trash px-2 pb-2"></i>
                            </a></h4>
                    </span>
                    {% endif %}
                    {% endif %}


                </div>

            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}