{% extends "base.html" %}

{% block content %}


<div class="container-fluid m-4">
    <div class="row">
        {% for review in object_list %}
            <div class="col-auto">
                <div class="card border-primary mb-3">
                    
                    </a>
                    <div class="card-header">
                        {{ review.beer_image }}
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ review.beer }}</h4>
                        <p class="card-text">{{ review.review|slice:":200" }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>







{% endblock %}