{% extends 'base.html' %}

{% block content %}



<fieldset>

  <div class="container mt-5">
    <div class="bg-dark bg-opacity-50 col-lg-9 col-11 m-auto rounded">
      <h1 class="text-light text-center bold p-3"> Update your beer review</h1>
      <div class="text-light">
        <form method="POST" actions="/add_review">
          {% csrf_token %}
          <div class="m-3 align-middle p-2">
            Beer Style: {{ form.beer_style}}

            <div class="m-3 align-middle p-2 ">
              Beer : {{ form.beer}}
            </div>
            <div>

              Update your review: {{ form.review}}
            </div>
            <div class="align-middle p-2 text-center">
              Bitterness: {{ form.bitterness}} &nbsp;| &nbsp; Money Value : {{ form.money_value}}
              <div class="p-3"> Add your beer picture : {{form.beer_image}}</div>
            </div>
            <div class="text-center">
              <input type="submit" value="Update" name="htmlsubmitbutton1"
                class="btn btn-secondary btn-success login-button btn-lg ">
            </div>
        </form>
      </div>
    </div>
  </div>
</fieldset>




{% endblock content %}