{% extends "base.html" %}
{% block additional_styles %}
<style>
   body {
    background-image: url("{{MEDIA_URL}}login_background.jpg")!important;
   }
</style>
{% endblock %}
{%block title %} Login {% endblock %}

{% block content %}
<!-----------------------------------Login container ----------------------->
<div class="container container-box">
  <div class="d-flex justify-content-center col-lg-4 col-12 float-end">
    <div class="card bg-dark">
      <div class="card-header text-light">
        <h3>Log In</h3>
      </div>
      <!-----------------------------------Login form ----------------------->
      <div class="card-body m-auto">
        <form action="" method="POST">

          {% csrf_token %}

          <div class="input-group form-group p-1">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user p-2 "></i></span>
            </div>
            <input type="text" class="form-control" name="username" placeholder="username">
          </div>
          <div class="input-group form-group p-1">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key p-2"></i></span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="password">
          </div>
          <!-- <div class="row align-items-center remember text-light m-2">
            <input type="checkbox" name="remember_me" value="true">Remember Me</input>
          </div> -->
          <div class="form-group text-center">
            <input type="submit" value="Login" class="btn btn-warning m-1 login-button">
          </div>
        </form>
      </div>

      <!-----------------------------------Create a account section ----------------------->

      <div class="card-footer">
        <div class="d-flex justify-content-center text-light">
          Don't have an account? &nbsp;<a href="{% url 'register' %}"
            class="text-decoration-none text-warning zoom">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#" class="text-decoration-none text-warning zoom">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}