{% extends "base.html" %}

{% load static %}

{% block additional_styles %}
<style>
  body {
    background-image: url('https://res.cloudinary.com/fernandascloud/image/upload/v1636886150/media/login_background_1_ykc7ob.jpg') !important;
  }
</style>
{% endblock %}

{% block title %} 
Register
{% endblock %}

{% block content %}
<!-- Register container -->
<div class="container container-box">
	<div class="d-flex justify-content-center col-lg-6 col-12 float-end">
		<div class=" bg-dark">
			<div class="card-header text-light">
				<h3 class="text-end yellow">Register &nbsp;<i class="fas fa-user-plus"></i></h3>
			</div>

			<!--Register form -->
			<div class="card-body m-auto text-light">
				<form method="POST">
					{% csrf_token %}
					{{form.as_p}}
					<!--Submit button -->
					<div class="p-3 d-flex justify-content-center">
						<input type="submit" value="Sign In" class="btn btn-secondary btn-warning login-button fw-bold">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Customizable JS -->
<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}
