{% extends "base.html" %}
{% block additional_styles %}
<style>
   body {
    background-image: url("{{MEDIA_URL}}login_background.jpg")!important;
   }
</style>
{% endblock %}
{% load crispy_forms_tags %}
{%block title %} Register {% endblock %}

{% block content %}

{% if form.errors %}

<div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
  There was an error with your form.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



{% endif %}

<div class="container-box-signin text-center">
  <div class="bg-dark  col-lg-4 col-md-6 col-11 rounded float-end">
    <div class="text-light">
      <h3>Sign In</h3>
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{form}}

        <div class= "p-3 d-flex justify-content-center">
          <input type="submit" value="Register" class="btn btn-secondary btn-success login-button">
        </div>
      </form>

    </div>
  </div>
</div>





{% endblock content %}