{% extends "base.html" %}


{%block title %} Register {% endblock %}

{% block content %}

{% if form.errors %}

<div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
  There was an error with your form.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



{% endif %}

<div class="container container-box-signin">
  <div class="d-flex justify-content-center col-lg-8 col-11">
    <div class="bg-dark bg-opacity-50">
      <div class="text-light">
        <h3>Sign In In</h3>
         <form action="{% url 'register' %}" method="POST">
          {% csrf_token %}
          {{ form}}



          <input type="submit" value="Register" class="btn btn-secondary">

        </form>
      </div>

    </div>
  </div>
</div>





{% endblock content %}