body {
    background: #9c4848 url("/media/background_home_page.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    margin-bottom: 100px;
}


/* Container box */ 

.container-box {
    margin-top: 15%;
    margin-left: 5%;
}

.container-box-signin {
    margin-top: 6%;
}

.login-button:hover {
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
}

.img-container {
    height: 300px;
        
}


.detail-container{
    max-width: 840px;
}

.card img {
    max-width: 300px;
}