/*------------------------ Color settings  ---------------------- */

:root {
    --green: #718f5a;
    --white: #f7F7F1;
    --red: #8E1205;
    --yellow: #F3C659;
    --black: #151314;
}

hr {
    color: var(--yellow);
}

.yellow {
    color: var(--yellow)!important;
}

html {
    height: 100%;
}

body {
    margin-bottom: 70px !important;
}

/*------------------------ Alert settings  ---------------------- */

.alert-warning {
    color: var(--red);
    opacity: 0.6;
}

/*------------------------ Typho settings  ---------------------- */

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

p,
a,
button,
#id_bitterness,
#id_money_value,
#id_beer_image, 
#id_beer_style,
#id_beer {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: var(--red);
}

a:hover {
    color: var(--yellow);
}


/*------------------------ Background settings  ---------------------- */

.bg {
    background-image: url("/media/background.jpg");
    background-size: cover;
}

.bg-dark,
.bg-light {
    opacity: 0.98;
}

.bg-dark {
    background-color: var(--black) !important;
}

/*------------------------ Home page welcome jumbotron ---------------------- */
.title {
    width: fit-content;
    background-color: var(--black);
    margin: 2% auto;
}


/*------------------------ Navbar ---------------------- */

ul.dropdown-menu {
    height: 150px !important;
    overflow: auto;
    z-index: 10000;
}

.nav-link.active,
.navbar-brand.active {
    color:var(--red)!important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    background-color: var(--red,0.2)!important;
    color:var(--white)!important;   
}
/*------------------------ Buttons ---------------------- */


.btn-submit {
    background-color: var(--green);
    color: var(--white);
}

.btn-warning {
    background-color: var(--yellow);
    border: var(--yellow);
    color: var(--black);
}

.login-button:hover,
.btn-submit:hover {
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
    color: var(-black);
    font-weight: 600;
}

.fa-edit:hover {
    color: var(--green);
}

.fa-trash:hover {
    color: var(--red);
}

.page-link {
    color: var(--white);
    font-weight: 200;
}

.page-link:hover {
    color: var(--yellow);
    font-weight: 600;
}

/*------------------------ Containers ---------------------- */
/* 
.card-img-top {
    height: 300px !important;
} */

img {
    max-width: 100%;
}

.section-container {
    max-width: 80%;
}

.container-box-home {
    margin-top: 25vh;
    margin-left: 5%;
}

.container-box {
    margin-top: 20vh;
}

.review-detail-box {
    width: 90%;
    min-height: 140px !important;
    margin: 0 auto;
    border: solid 1px var(--white);
}

.detail-container {
    max-width: 840px;
    margin: 2% auto;
}

.container-reviews {
    width: 60%;
    margin: 0px auto;
}

.no-review {
    margin-top: 20vh;
}

.edit-delete-box {
    display: ruby-base-container;
    width: 30%;
}

.author-box {
    display: ruby-base-container;
    width: 70%;
}

/*------------------------ Form fields ---------------------- */

#id_beer_style,
#id_beer,
#id_bitterness,
#id_money_value,
#id_beer_image {
    margin: 10px;
    font-size: 1rem;
}

#id_username,
#id_email,
#id_password1,
#id_password2 {
    width: 300px;
    margin: 0 auto;
}

#id_review {
    width: 500px;
    margin: 0 auto;
}

#id_score {
    display: none;
}

/*------------------------ Star rating  ---------------------- */
.checked {
    color: var(--yellow);
}

.stars {
    margin: 0 auto;
    width: fit-content;
}

/*------------------------ Media Query  ---------------------- */

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }

}

@media only screen and (max-width: 900px) {
    .margin-screen-md {
        margin: 5%;
    }
}

@media only screen and (max-width: 600px) {


    body {
        background-position-x: 20%;
    }

    .section-container {
        max-width: 80%;
    }

    .container-box {
        margin-top: 10vh;
    }

    .margin-screen-md {
        margin: 10%;

    }


    #id_username,
    #id_email,
    #id_password1,
    #id_password2 {
        width: 250px;
    }

    #id_bitterness,
    #id_money_value,
    #id_beer_image,
    #id_review,
    #id_beer,
    #id_beer_style {
        width: 90%
    }
}