{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block title %} Beer Search {% endblock %}

{% block additional_styles %}
<!---------------------------- My CSS link --------->
<style>
    body {
        background-image: url("https://res.cloudinary.com/fernandascloud/image/upload/v1637186919/background_2_rydjwk.jpg")!important;
    }
</style>
{% endblock %}


{% block content %}


<section class="shadow-sm m-auto section-container">
    {% if beer_review %}
    <div class="container text-light text-center ">
        <h1 class="title p-5"> You searhed for: {{ searched|title }} </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-center">

        {% for beer in beer_review %}
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="card w-100 text-light bg-dark rounded text-center ">
                <a href="{% url 'review_detail' beer.pk %}"
                    class="text-decoration-none text-capitalize fw-bold text-white">
                    <h2 class="card-title m-3 text-truncate "> {{ beer.beer }} </h2> <hr> 
                    <h3>{{ beer.beer_style}}</h3>
                </a>

                <img src="{{ beer.beer_image.url }}" class="card-img-top rounded-2 img-container"
                    alt="Uploaded {{beer.beer}} review image">
               

                <div class="card-body">
                    <p class="card-text text-truncate"> {{ beer.review }} </p>
                    <p class="card-text"> Biterness:
                        <span class="fas fa-beer {% if beer.money_value > 0 %} checked {% endif %}"></span>
                        <span class="fas fa-beer {% if beer.money_value > 1 %} checked {% endif %}"></span>
                        <span class="fas fa-beer {% if beer.money_value > 2 %} checked {% endif %}"></span>
                        <span class="fas fa-beer {% if beer.money_value > 3 %} checked {% endif %}"></span>
                        <span class="fas fa-beer {% if beer.money_value > 4 %} checked {% endif %}"></span>
                    </p>

                    <p class="card-text"> Money-value:
                        <span class="fas fas fa-euro-sign {% if beer.money_value > 0 %} checked {% endif %}"></span>
                        <span class="fas fas fa-euro-sign {% if beer.money_value > 1 %} checked {% endif %}"></span>
                        <span class="fas fas fa-euro-sign {% if beer.money_value > 2 %} checked {% endif %}"></span>
                        <span class="fas fa-euro-sign {% if beer.money_value > 3 %} checked {% endif %}"></span>
                        <span class="fas fa-euro-sign {% if beer.money_value > 4 %} checked {% endif %}"></span>
                    </p>

                    <p class="card-text"> Rating:
                        <span class="fa fa-star {% if beer.score > 0 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if beer.score > 1 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if beer.score > 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if beer.score > 3 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if beer.score > 4 %} checked {% endif %}"></span></p>
                    <p class="card-text text-truncate text-muted text-sm"> {{ beer.user_name }}
                        -{{ beer.pub_date }} </p>
                </div>

                {% if user.is_authenticated %}
                    {% if user.id == beer.user_name.id %}

                    <span class="m-auto">
                        <h4>
                            <a href="{% url 'review_update' beer.pk %}" class="text-decoration-none text-white"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit your beer"><i
                                    class="fas fa-edit px-2"></i>
                            </a>
                            <a href="{% url 'review_delete' beer.pk %}" class="text-decoration-none text-white" id="edit"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete your review">
                                <i class="fas fa-trash px-2 pb-2 "></i>
                            </a>
                        </h4>
                    </span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Cards pagination  -->
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center ">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link bg-dark border-0  " href="?searched={{searched}}&page=1">First</a>
            </li>

            

            <li class="page-item">
                <a class="page-link bg-dark border-0 "
                    href="?searched={{searched}}&page={{ page_obj.previous_page_number }}">Previous
                </a>
            </li>{% endif %}
            <li class="page-item">

                {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link bg-dark border-0 "
                    href="?searched={{searched}}&page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item"><a class="page-link bg-dark border-0 "
                    href="?searched={{searched}}&page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>


    {% else %}
    <div class="container no-review text-center ">
        <div class="bg-dark col-lg-5 col-11 m-auto rounded m-2 p-3 text-light">
            <h1> There's no review for {{ searched | title}}</h1>
            <hr>
            <p class="lead"> Would you like to be the first? </p>
            {% if user.is_authenticated %}
            <a href="{% url 'add_review' %}"><button class="btn btn-warning login-button btn-lg m-2 fw-bold">Review you
                    Beer Now! </button></a>
            {% else %}
            <a href="{% url 'login' %}"><button class="btn btn-warning login-button btn-lg m-2 fw-bold">Login and
                    Review!</button></a>
            {% endif %}
        </div>
    </div>


    </div>
    </div>
    {% endif %}

</section>



{% endblock %}

{% block extra_js %}

<!-- My JS -->
<script src="{% static 'js/toollip.js' %}"></script>

{% endblock extra_js %}