{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

<fieldset>

    <div class="container mt-5">
        <div class="bg-dark bg-opacity-75 col-lg-9 col-11 m-auto rounded m-2">
            <h1 class="text-light text-center bold p-3"> Delete review</h1>
            <div class="text-light text-center">
                <h5> Beer: {{ object.beer }}</h5>
                <p>{{ object.review }}</p>
                <p class= "text-muted">Author:{{ object.user_name }} <br/>Created at: {{ object.pub_date }}</p>
                <form method="POST" actions="">
                    {% csrf_token %}
                  
                        <button class="btn btn-secondary btn-success login-button btn-lg m-2" >Delete </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</fieldset>


{% endif %}

{% endblock content %}