{% extends 'base.html' %}
{% block content %}

{% block title %} Delete review {% endblock %}

{% block additional_styles %}
<!---------------------------- My CSS link --------->
<style>
    body {
        background-image: url("https://res.cloudinary.com/fernandascloud/image/upload/v1637186919/background_2_rydjwk.jpg")!important;
    }
</style>
{% endblock %}

{% if user.is_authenticated %}

<fieldset>

    <div class="container mt-5 ">
        <div class="bg-dark col-lg-5 col-11 m-auto rounded m-2 p-3">
            <h1 class="text-light text-center bold p-3 yellow"> Delete review <hr></h1>
            <div class="text-light text-center">
                <h5 class = "mb-2"> Beer: {{ object.beer|title }}</h5>
                <h5 class = "mb-3"> Beer Style: {{ object.beer_style|title }}</h5>
                <div class= "review-detail-box p-3 d-flex align-items-center justify-content-center overflow-auto mb-3">
               
                    <p>{{ object.review|title }}</p>
                </div>
                
                
                
                <!-- <p>{{ object.review }}</p> -->
                <p class= "text-muted">Author:{{ object.user_name }} <br/>Created at: {{ object.pub_date }}</p>
                <form method="POST" actions="">
                    {% csrf_token %}
                  
                        <button class="btn btn-secondary btn-danger login-button btn-lg m-2 fw-bold" >Delete </button>
                    </div>
                </form>
            </div>
        </div>
 
</fieldset>


{% endif %}

{% endblock content %}