{% extends "base.html" %}

{% load static %}

{% load cloudinary %}

{% block title %} 
Reviews by Style 
{% endblock %}

{% block additional_styles %}
    <!-- Customizible CSS -->
    <style>
        body {
            background-image: url("https://res.cloudinary.com/fernandascloud/image/upload/v1637186919/background_2_rydjwk.jpg")!important;
        }
    </style>
{% endblock %}

{% block content %}

    <!-- Reviews section  -->
    <section class="shadow-sm m-auto section-container text-center">
        {% if style_reviews %}

            <!-- Reviews title -->
            <div class="container text-light text-center ">
                <h1 class="title p-5"> You seached for: {{ style|title }}</h1>
            </div>

            <!-- Reviews card -->
            <div class="row row-cols-1 row-cols-md-2 g-4 m-auto d-flex justify-content-center">
                {% for review in style_reviews %}
                <div class="col col-md-6 col-lg-4 col-xl-3">
                    <div class="card w-100 text-light bg-dark rounded text-center">

                        <!-- Card hyperlink to beer detail page -->
                        <a href="{% url 'review_detail' review.pk %}"
                            class="text-decoration-none text-capitalize fw-bold text-white">

                            <!-- Review's beer name -->
                            <h2 class="card-title m-3 text-truncate "> {{ review.beer }} </h2>
                            <hr>

                            <!-- Review's beer's style name -->
                            <h3>{{ review.beer_style}}</h3>

                            <!-- Review's beer image -->
                            <img src="{{ review.beer_image.url }}" class="card-img-top rounded-2 img-container" alt="{{ review.beer }}">

                            <!-- Review's card body -->
                            <div class="card-body">

                                <!-- Review's text -->
                                <p class="card-text text-truncate">{{ review.review }}</p>

                                <!-- Review's beer bitterness level -->
                                <p class="card-text"> Biterness:
                                    <span class="fas fa-beer {% if review.money_value > 0 %} checked {% endif %}"></span>
                                    <span class="fas fa-beer {% if review.money_value > 1 %} checked {% endif %}"></span>
                                    <span class="fas fa-beer {% if review.money_value > 2 %} checked {% endif %}"></span>
                                    <span class="fas fa-beer {% if review.money_value > 3 %} checked {% endif %}"></span>
                                    <span class="fas fa-beer {% if review.money_value > 4 %} checked {% endif %}"></span>
                                </p>

                                <!-- Review's beer money-value level -->
                                <p class="card-text"> Money-value:
                                    <span
                                        class="fas fas fa-euro-sign {% if review.money_value > 0 %} checked {% endif %}"></span>
                                    <span
                                        class="fas fas fa-euro-sign {% if review.money_value > 1 %} checked {% endif %}"></span>
                                    <span
                                        class="fas fas fa-euro-sign {% if review.money_value > 2 %} checked {% endif %}"></span>
                                    <span class="fas fa-euro-sign {% if review.money_value > 3 %} checked {% endif %}"></span>
                                    <span class="fas fa-euro-sign {% if review.money_value > 4 %} checked {% endif %}"></span>
                                </p>

                                <!-- Review's beer rating -->
                                <p class="card-text"> Rating:
                                    <span class="fa fa-star {% if review.score > 0 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.score > 1 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.score > 2 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.score > 3 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.score > 4 %} checked {% endif %}"></span></p>

                                <!-- Review's beer author and pub date -->
                                <p class="card-text text-truncate text-muted text-sm"> {{ review.user_name }} -
                                    {{ review.pub_date }} 
                                </p>
                            </div>
                        </a>


                        <!-- Edit and delete options if user is logged in -->
                        {% if user.is_authenticated %}
                            {% if user.id == review.user_name.id %}
                            <span class="m-auto">
                                
                                    <!-- Edit button -->
                                    <a href="{% url 'review_update' review.pk %}" class="text-decoration-none text-white"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit your review" aria-label="Edit">
                                        <i class="fas fa-lg fa-edit px-2"></i>
                                    </a>

                                    <!-- Delete button -->
                                    <a href="{% url 'review_delete' review.pk %}" class="text-decoration-none text-white" id="edit"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete your review" aria-label="Delete">
                                        <i class="fas fa-lg fa-trash px-2 pb-2 "></i>
                                    </a>
                              
                            </span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

            </div>

            <!-- Cards pagination  -->
            <nav aria-label="Page navigation example ">      
                <ul class="pagination justify-content-center mt-2 mx-auto">
                                        
                    {% if page_obj.has_previous %}

                        <!-- First button -->
                        <li class="page-item"><a class="page-link bg-dark border-1 rounded-3 m-3 p-3" href="?page=1">First</a></li>
                    
                        <!-- Previous button -->
                        <li class="page-item"><a class="page-link bg-dark border-1 rounded-3 m-3 p-3" {% if page_obj.previous_page_number == 1 %} disabled="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Use First Button"
                              {% else %}  href="?page={{ page_obj.previous_page_number }}"  {% endif %} >Previous</a></li>
                    {% endif %}
                                            
                    {% if page_obj.has_next %}

                        <!-- Next button -->
                        <li class="page-item">
                            <a class="page-link bg-dark border-1 rounded-3 mt-3 mx-1 p-3" {% if page_obj.next_page_number == page_obj.paginator.num_pages %} disabled="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Use Last Button"
                            {% else %} href="?page={{ page_obj.next_page_number }}" {% endif %}>Next
                            </a>
                        </li>

                        <!-- Last button -->
                        <li class="page-item">
                            <a class="page-link bg-dark border-1 rounded-3 m-3 p-3"
                                href="?page={{ page_obj.paginator.num_pages }}">Last
                            </a>
                        </li>
                        
                    {% endif %}
                </ul>
            </nav>
        {% else %}
            <!-- No reviews container -->
            <div class="container no-review">
                <div class="bg-dark col-lg-5 col-11 m-auto rounded m-2 p-3 text-light">

                    <!-- Searched style -->
                    <h1> There's no review for {{ style | title}}</h1>
                    <hr>
                    <p class="lead"> Would you like to be the first? </p>
                    {% if user.is_authenticated %}

                        <!-- Review now button -->
                        <a href="{% url 'add_review' %}"><button class="btn btn-warning login-button btn-lg m-2 fw-bold">Review you
                                Beer Now! </button></a>
                    {% else %}

                        <!-- Login now button -->
                        <a href="{% url 'login' %}">
                            <button class="btn btn-warning login-button btn-lg m-2 fw-bold">Login and
                                Review!
                            </button>
                        </a>

                    {% endif %}
                </div>
            </div>
            {% endif %}

        <!-- Back button -->
        <div class="m-2 text-center">
            <a href="{% url 'review_list'%}" class="btn btn-submit btn-lg fw-bold mt-3">Back to Reviews</a>
        </div>
    </section>

	{% block extra_js %}
        <!-- Customizible  JS -->
        <script src="{% static 'js/toollip.js' %}"></script>
	{% endblock extra_js %}

{% endblock %}
