{% extends 'base.html' %}
{% block content %}

<ul> 
   
    {% if object_list %}
    
    <div>
    
        {% for review in object_list %} 
    
    
        <div>
            <h4> Beer name: {{ review.beer }}
            </h4>
            <h3> beer style : {{ review.beer_style }} </h3>
            <h5> Bitterness : {{ review.bitterness }} | Money/Value: {{ review.money_value }} </h5>
            <h4>Beer review: <br /></h4>
            <p> {{ review.review }} </p>
    
        </div>
    </div>
    {% endfor %}
    {% else %}
    
    <p> No reviews are available. </p>
    
    {% endif %}
    
    {% endblock content %}
    





