{% extends 'base.html' %}

{% block additional_styles %}
<style>
   body {
    background-image: url("{{MEDIA_URL}}background_image.jpg")!important;
    background-position-x: 55%;
   }
</style>
{% endblock %}

{% block content %}


<div class=" container container-box-home bg-dark rounded text-light text-center p-2 col-lg-4 col-11 float-start">
    <div class="row justify-content-start">
        <div class="col ">
            <h6>The best place to review your beer</h6>
            <h1 class="bold">Welcome to Best Beer</h2>
                <p>Add your review about the beer you already taste and search about beers aroud the world.</p>
        </div>
    </div>
</div>
<ul>
    {% endblock content %}